/* classsynopsis is semantic data but not structured well for display */

.classsynopsis {
    display: none;
}

/* method parameters */

div.variablelist {
    padding-top: 0;
}

div.variablelist dt {
    float: left;
    margin-right: 20px;
}

div.variablelist dd {

}

.term {
    font-weight: bold;
}

.term .type {
    font-weight: 300;
    color: #A5A5A5;
}

/* <remark>Documentation not yet available</remark> */
span.remark {
    font-style: italic;
    color: #FFF;
    background-color: #D7D5D5;
}

.toc code {
    font-family: Roboto;
    font-weight: 300;
    color: black;
}

.chapter > .toc dd dt {
    font-weight: 400;
}