/* classsynopsis is semantic data but not structured well for display */

.classsynopsis {
    display: none;
}

/* method parameters */

div.variablelist {
    padding-top: 0;
}

div.variablelist dt {
    float: left;
    margin-right: 20px;
}

div.variablelist dd {

}

.term {
    font-weight: bold;
}

.term .type {
    font-weight: 300;
    color: #A5A5A5;
}

/* <remark>Documentation not yet available</remark> */
span.remark {
    font-style: italic;
    color: #FFF;
    background-color: #D7D5D5;
}

.toc code {
    font-family: Merriweather, serif;
    font-weight: 300;
    color: black;
}

/* We don't need expandy triangles in the TOC */
.book .toc > dl > dd > dl > dt::before {
    display: none !important;
}

div.chapter {
	margin-left: 250px;
}

.chapter > .toc {
    left: -260px;
}

.chapter > .titlepage {
    left: -260px;
}

.chapter > .toc dd dt {
    margin-left: 6px;
    line-height: 1em;
}

.toc .part {
    font-size: 1.2em;
}