/* Reset - Blank canvas, go. */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	border-spacing: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size: inherit;
	vertical-align: baseline;
  border-collapse: collapse;
}

table {
	line-height: inherit;
	border-collapse: collapse;
}

strong {
	font-weight: normal;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	color: #555;
	background-color: #fff;
	font-size: 16px;
	font-family: 'Merriweather', serif;
	line-height: 1.9em;
	font-weight: 300;
}

ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
div.table-contents {
	overflow: hidden;
	overflow-x: auto;
}
div.table-contents td, div.table-contents th {
	border-collapse: separate;
	border-spacing: 0;
	line-height: 1.6em;
	font-size: 0.9em;
	border: 1pt solid lightgrey;
	padding: 5px;

}
caption, th {
	font-weight: 400;
}

h1 {
	font-size: 3em;
	padding: 0.8em 0 0.4em;
  color: #DB7430;
  font-family: 'Port Lligat Slab';
}

span.part a {
    color: #8A1C16;
}

.part a:hover,
.chapter a:hover,
div.toc span.section a:hover{
    color: #FF8A00
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

a {
	text-decoration: none !important;
    color: #8A1C16;
}
a:hover{
    color: #FF8A00;
}

/* Header */
div.navheader {
	color: #666;
	font-size: 85%;
    border-top: 13px solid #75a994;
    background: #efebd5;
    padding: 5px;
}
.navheader table,
.navfooter table{
    width: 98%;
    margin: 0 1%;
}
.navheader table tbody tr:first-child [align="center"],
.navfooter table tbody tr:first-child [align="center"]{
    padding-bottom: 5px;
}
div.navheader hr {
	display: none;
}
div.navheader a:hover{
    color: #000000
}
div.navheader  table  tbody  tr  th{
    text-align: center;
    font-weight: 100;
}

div.navheader td[align=right] {
    text-align: right !important;
}

div.navheader > table > tbody > tr + tr > td[align=right] {
	text-align: right;
}
/* Main area */
/* Book */
.book h3{
    color: #8A1C16;
}

.guimenuitem {
    background: none repeat scroll 0 0 #EEEEEE;
    margin: 5px;
    padding: 5px;
}

body > .book,
body > .part,
body > .chapter {
    background: #fff;
    padding: 15px 20px 5px;
}

.legalnotice a:hover{
    color: #8A1C16;
    border-bottom: 1px dotted #8A1C16;
}
.list-of-tables dt{
    color: #8A1C16;
    padding-left: 30px;
}
.list-of-tables p {
    color: #DB7430;
    font-size: 1.5em;
    margin-bottom: 0.2em;
}
p.copyright{
    clear: right;
}
/* Footer: for now we are just going to hide the whole thing */
div.navfooter {
    display: none;
}


div.navfooter {
	border-top: 1px solid #B2AEB2;
	color: #666;
	font-size: 85%;
    background: #4c3b35;
    padding: 15px 0;
}
div.navfooter hr {
	display: none;
}
div.navfooter a{
    color: #c0bba4;
}
div.navfooter a:hover{
    color: #fff;
}
div.navfooter > table > tbody > tr > td[align=center], div.navfooter > table > tbody > tr + tr > td[align=center] {
	text-align: center;
}
div.navfooter > table > tbody > tr > td[align=right] {
	text-align: right;
}

/* Front page TOC */
.book .toc, div.list-of-tables {
  padding: 20px 0;
}

.book .toc dt {
	padding-top: 2px;
}

.book .toc > dl > dt {
	line-height: 1.3;
	padding-top: 30px;
	font-size: 1.5em;
	font-family: 'Port Lligat Slab';
}

/* Second level sections */
.book .toc > dl > dd > dl > dt {
  padding-top: 5px;
  font-size: 20px;
  font-family: 'Port Lligat Slab';
}

.book .toc > dl > dd > dl > dt:before {
	display: inline-block;
  	width: 0;
  	height: 0;
	border-top: solid transparent;
	border-bottom: solid transparent;
	border-left: solid #666;
	border-width: 5px;
	content: ' ';
	margin-right: 10px;
}
.book .toc > dl > dd > dl > dt.expand:before {
	border-right: solid transparent;
	border-left: solid transparent;
	border-top: solid #666;
}

/* Third level sections */
.book .toc > dl > dd > dl > dd > dl > dt {
	font-weight: 400;
	font-size: 14px;
	margin-left: 15px;
}

/* Fourth level sections */
.book .toc > dl > dd > dl > dd > dl > dd > dl > dt {
	font-weight: 300;
	margin-left: 28px;
	font-size: 13px;
	padding: 0;
}

/* hide fifth level on the part index pages */
.part .toc > dd > dl > dd > dl > dt {
    display: none;
}

.titlepage hr {
	display: none;
}


.toc a {
	color: #555;
}

/* TOC -Parts */
.part .toc dt {
  padding-bottom: 5px;
}

.part .toc > dl > dt {
  padding-top: 15px;
}


/* Second level sections */
.part .toc > dl > dd > dl > dt {
  padding-left: 25px;
}

/* TOC - Chapters */

.chapter > .toc {
	float: left;
	position: relative;
	left: -210px;
	font-size: 0.85em;
    padding: 0;
    width: 165px;
    margin-right: -100%;
}

.chapter > .toc a {
	color: #8A1C16;
}

.chapter > .toc dt {
  padding-top: 10px;
  line-height: 1.7em;
  font-weight: normal;
}

/* second level */
.chapter > .toc dd dt {
    font-size: 1em;
    margin-left: 12px;
    line-height: 1.2em;
    font-weight: lighter;
}

/* Don't show TOC heading */
.chapter > .toc > p {
	display: none;
}


.chapter > .titlepage h2.title {
	color: #DB7430;
	font-family: 'Port Lligat Slab';
	font-size: 2.5em;
	margin-bottom: 20px;
	padding: 0;
}

.chapter .chapter > p {
	margin-bottom: 1em;
	margin-left: 220px;
}

/* Main TOC */
div.list-of-examples > p, div.toc > p {
	font-family: 'Port Lligat Slab';
	color: #DB7430;
	margin: 20px 0 10px;
	padding-bottom: 2px;
	border-bottom: 1px solid #DB7430;
	line-height: 1;
}
div.list-of-examples dl {
	font-size:85%;
}

/* Main content pages */
div.chapter {
	border-left: 1px solid #DB7430;
	margin-left: 200px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-top: 0px;
}

div.chapter h2 {
	font-family: 'Port Lligat Slab';
	font-size: 2em;
    color: #DB7430;
}

div.chapter h3 {
	font-family: 'Port Lligat Slab';
	font-size: 1.5em;
    color: #c86f6b;
    padding-top: 30px;
}

div.chapter h4, div.chapter h5 {
	font-family: 'Port Lligat Slab';
	font-size: 1.2em;
	color: #f89157;
	margin-top: 20px;
}

.chapter p {
	margin-bottom: 0.6em;
	word-break: break-word;
}

/* Title */
div.book h1.title {
	text-align: right;
	line-height: 1em;
}

.chapter > .titlepage {
	left: -210px;
	position: relative;
	clear: both;
	background: white;
	padding-bottom: 30px;
	padding-top: 20px;
}

.titlepage h2.title {
  color: #DB7430;
  font-family: 'Port Lligat Slab';
  line-height: 1;
  margin-bottom: 10px;
  padding-top: 60px;
}

/* first heading with no text above it */
.chapter .toc + .section h2.title {
  padding-top: 0;
}

/* Simple lists */

table.simplelist {
	margin-left: 20px;
	margin-top: 12px;
}

table.simplelist tr td {
	padding-bottom: 0.6em;
}

.qandaset table tr.question td {
  padding-top: 12px;
  padding-right: 10px;
}

/* Ordered lists */
div.orderedlist {
	line-height: 1.6em;
}
div.orderedlist ol {
	margin-left: 30px;
}
div.orderedlist li {
	list-style-type: decimal;
	margin-bottom: 0.6em;
}

/* Itemised lists */
div.itemizedlist {
	margin-bottom: 10px;
}

div.itemizedlist ul {
	margin-left: 30px;
}
div.itemizedlist li {
	list-style: disc;
}

/* Variable lists */
div.variablelist {
	padding-top: 16px;
}
div.variablelist .title {
	padding-top: 16px;
}
div.variablelist dt {
	font-style: italic;
}
div.variablelist dd {
	margin-bottom: 0.6em;
}

/* Q & A set */
div.qandaset > dl {
	margin-bottom: 0.6em;
}

/* Caution boxes */
div.caution {
	background: #BF3030;
	color: #F3D9D9;
}

/* Tip boxes */
div.tip {
	background: none repeat scroll 0 0 #006D7F;
	color: #D6E6E6;
}

div.caution, div.tip {
	float: right;
	font-size: 0.9em;
	line-height: 1.4em;
	margin: 20px 10px !important;
	padding: 16px 12px 16px 18px;
	position: relative;
	width: 220px;
}

div.caution h3, div.tip h3 {
  color: white;
  font-size: 2em;
  padding-top: 0;
  padding-bottom: 10px;
}

/* Pre-formatted code */

code {
    font-family: monospace;
    font-weight: 400;
}

pre {
	white-space: pre-wrap;				/* css-3 */
	white-space: -moz-pre-wrap !important;	 /* Mozilla, since 1999 */
	white-space: -pre-wrap;			/* Opera 4-6 */
	white-space: -o-pre-wrap;		/* Opera 7 */
	word-wrap: break-word;				/* Internet Explorer 5.5+ */
	margin-bottom: 0.6em;
}

pre.programlisting {
	font-family: monospace;
	color: #444;
	margin-left: 20px;
	-moz-tab-size: 2;
	tab-size: 2;
	line-height: 1.8;
}

.tip pre.programlisting {
	color: #b5f1da;
	font-size:120%;
	margin: 5px 0 0 0;
}


.copyright {
	font-size: 0.7em;
	color: #999;
	text-align: right;
}
.legalnotice {
	font-size: 0.7em;
	color: #666666;
	line-height: 1.5em;
	width: 50%;
}
.legalnotice-title {
	font-weight: bold;
}

.book .toc p, .part .toc p {
	color: #DB7430;
	font-family: 'Port Lligat Slab';
	font-size: 1.8em;
	line-height: 1;
	margin: 20px 0 10px;
	padding-bottom: 2px;
	border-bottom: 1px solid #DB7430;
}
.chapter .toc p b{
    display: none;
}

/* Authorgroup */
.authorgroup {
	text-align: right;
	display: inline-block;
    float: right;
	font-size: 0.8em;
}

.author {
	color: #555 !important;
	line-height: 24px;
}

/* Images */

img {
	margin-bottom: 30px;
	box-shadow: 3px 3px 8px #aaa;
	max-width: 100%;
}

div.caption {
	font-size: 0.8em;
	color: #AAA;
	margin: -10px 0 20px 0;
	line-height: 1.2em;
}

.chapter a:hover {
    color: #FF8A00;

}

/* table styles */

div.navfooter > table > tbody > tr > td[align="right"],
div.navfooter > table > tbody > tr > td[align="left"] {
    color: #fff;
}

.note {
  background: #EFEBD5;
  padding: 15px;
}


/* code highlighting */
.hl-keyword {
	color: #966;
}


@media screen and (max-width: 769px){
    .chapter > .toc {
    	display: none;
    }

    div.chapter {
    	margin-left: 5px;
    	border-left: 0;
    }

    .chapter > .titlepage {
    	left: 0;
    }
}

/* PRINT */
#banner, #footer, #leftcol, #breadcrumbs, .docs #toc, .docs .courtesylinks, #leftColumn, #navColumn {
	display: none !important;
}

#bodyColumn, body.docs div.docs {
	margin: 0 !important;
	border: none !important;
}

/*  GOOGLE SEARCH */
.gsc-control-cse.gsc-control-cse-en {
	padding: 0 !important;
}

input.gsc-search-button.gsc-search-button-v2 {
    padding: 6px 6px !important;
    background-color: #4C3B35 !important;
}

input.gsc-input {
	background: none !important;
    font-family: 'Merriweather', serif !important;
    font-weight: 100;
}
.gsc-input-box {
    border-radius: 4px;
}
.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 1px !important;
}
.gscb_a {
    font-size: 16px !important;
}
.gsc-search-box .gsc-input > input:focus, .gsc-input-box-focus {
    border-color: #66afe9 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6) !important;
    outline: 0 none !important;
}
.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
	display: none !important;
}
.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.gsc-adBlockVertical {
	display: none !important;
}
.gsc-thinWrapper {
	width: 100% !important;
}
.gsc-control-cse .gsc-wrapper .gs-result .gs-title {
    height: auto !important;
}
.gsc-control-cse .gsc-wrapper .gs-result .gs-title, .gsc-control-cse .gsc-wrapper .gs-result .gs-title .gs-title * {
    text-decoration: none !important;
}


/* Version switching */
.btn {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 3px;
    background-color: #EFEBD5;
    border-color: #ccc;
    margin: 2px;
}

.btn.active, .btn:hover {
	background-color: white;
}

.versions {
	float: right;
}


/*  release notes */
.revhistory th {
    display: none;
}

.property {
    color: #bbb;
}


/* Used for the release notes */
.releaseDate {
    font-size: 0.6em;
    padding-left: 20px;
}

.gsc-adBlock, .gsc-resultsHeader, .gcsc-branding {
  display: none !important;
}
