/* classsynopsis is semantic data but not structured well for display */

.classsynopsis {
    display: none;
}

/* method parameters */

div.variablelist {
    padding-top: 0;
}

div.variablelist dt {
    float: left;
    margin-right: 20px;
}

div.variablelist dd {

}

.term {
    font-weight: bold;
}

.term .type {
    font-weight: 300;
    color: #A5A5A5;
}