skinparam defaultFontName Merriweather
skinparam DefaultFontColor DarkSlateGrey

skinparam ComponentBorderColor Chocolate
skinparam CardBorderColor Chocolate
skinparam ParticipantBorderColor FireBrick
skinparam ParticipantBackgroundColor Wheat
skinparam ArrowColor Chocolate

skinparam SequenceBoxBackgroundColor AliceBlue
skinparam SequenceBoxBorderColor Lavender

skinparam ParticipantPadding 30

skinparam ActorBorderColor Sienna
skinparam ActorBackgroundColor Peru
skinparam ActorFontColor gray
skinparam ActorStyle awesome

skinparam Sequence.GroupBorderThickness 0
skinparam Sequence.GroupBackgroundColor Wheat

skinparam shadowing false
skinparam roundcorner 7

skinparam NoteBorderThickness 0
skinparam NoteBackgroundColor LightGoldenRodYellow

autonumber
